body {background-color: #3f84bf;}

img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
}

h1 {
        text-align: center;
        font-family:Garamond, Georgia, serif;
        color: #C8A2C8;
}

nav {
        text-align: center;
        font-family:Garamond, Georgia, serif;
}

footer {
        text-align: center;
        font-size: 9px;
        color: #f59467;
}
