body {background-color: #3f84bf;}

h3 {
        font-family: Garamond, Georgia, serif;
}

h1 {
        color: #262e2a;
        font-family: Garamond, Georgia, serif;
}

p {
        font-family: Garamond, Georgia, serif;
        font-size: 18px;
}

ul {
        font-family: Garamond, Georgia, serif;
        line-height: 1.4;
        font-size: 18px;
}
